<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>任务发布</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/base.css" />
		<link href="../css/mui.imageViewers.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />
		<link rel="stylesheet" type="text/css" href="../icont/iconfont.css" />
		<link rel="stylesheet" href="../css/flow.css">

	</head>

	<body>
		<section id="app" v-cloak>
			<header class="mui-bar mui-bar-nav">
				<!-- <div class="mui-pull-left lishi"><i class="iconFont"></i>教程</div> -->
				<h1 class="mui-title">任务发布</h1>
			</header>
			<div class="mui-content">

				<!-- tabs切换 -->
				<div class="tabsBox">
					<div :class="{ bgOrange: taskType==1}" @tap="changeTaskType(1)">流量任务</div>
					<div :class="{ bgYellow: taskType==2}" @tap="changeTaskType(2)">收藏任务</div>
					<div :class="{ bgAzure: taskType==3}" @tap="changeTaskType(3)">加购任务</div>
					<div :class="{ bgBlue: taskType==4}" @tap="changeTaskType(4)">淘宝直播</div>
				</div>
				<div class="mainTop">
					<!-- 流量任务类型 -->
					<div class="flowBox">
						<div class="title">
							<i class="icon iconType"></i>
							<div>任务类型</div>
						</div>
						<!-- 流量任务 -->
						<div class="typesBox" v-if="taskType==1">
							<div :class="{active:priceType==0}" @tap="changePriceType(0)">APP 流量</div>
							<div :class="{active:priceType==1}" @tap="changePriceType(1)">PC 流量</div>
							<div :class="{active:priceType==3}" @tap="changePriceType(3)">直访流量</div>
						</div>
						<!-- 收藏任务 -->
						<div class="typesBox" v-else-if="taskType==2">
							<div :class="{active:priceType==9}" @tap="changePriceType(9)">搜索收藏</div>
							<div :class="{active:priceType==7}" @tap="changePriceType(7)">商品收藏</div>
							<div :class="{active:priceType==6}" @tap="changePriceType(6)">店铺收藏</div>
							<div :class="{active:priceType==17}" @tap="changePriceType(17)">商品点赞</div>
						</div>
						<!-- 加购任务 -->
						<div class="typesBox" v-else-if="taskType==3">
							<div :class="{active:priceType==11}" @tap="changePriceType(11)">搜索加购</div>
							<div :class="{active:priceType==10}" @tap="changePriceType(10)">直接加购</div>
						</div>
						<!-- 淘宝直播 -->
						<div class="typesBox" v-else>
							<div :class="{active:priceType==12}" @tap="changePriceType(12)">达人关注</div>
							<!-- <div :class="{active:priceType==2}" @tap="changePriceType(2)">微淘点赞2</div> -->
							<div :class="{active:priceType==14}" @tap="changePriceType(14)">观看人数</div>
						</div>
					</div>

					<!-- 任务日期 -->
					<div class="flowBox">
						<div class="title">
							<i class="icon iconDate"></i>
							<div>任务日期</div>
						</div>
						<div class="timeBox">
							<div class="dateBox" @tap="setOrderTime(23,1)">
								<span>{{taskDateStart}}</span>
								<i class="icon"></i>
							</div>
							<div class="until">—</div>
							<div class="dateBox" @tap="setOrderTime(23,2)">
								<span>{{taskDateEnd}}</span>
								<i class="icon"></i>
							</div>
						</div>
						<ul>
							<li>快速选择：</li>
							<li v-for="(item,index) in dateList" :class="{active:fastDay==item}" @tap="changeFastDay(item)">{{item}}天</li>
						</ul>
						<div class="totalTime">任务时长 <span>{{duration}}</span> 天，每天发布 <span>{{dayNum}}</span> 个任务量，此次合计发布<span>{{duration*dayNum}}</span>个任务</div>
					</div>
				</div>

				<div class="calendarBox">
					<div class="title">
						<i class="icon iconType"></i>
						<div>任务信息</div>
					</div>
					<div class="calendarItem" v-for="(item,index) in periodList">
						<ul>

							<!-- 店铺链接 -->
							<li v-if="priceType==6">
								<label>店铺链接</label>
								<div class="inputBox">
									<input class="inputItem" v-model="item.target"  type="text" placeholder="请输入店铺链接或淘口令" />
								</div>
								<div class="chooseBtn" type="button" @tap="chooseCommodity(index)">选择商品</div>
							</li>

							<li v-else-if="priceType==12">
								<label>店铺链接</label>
								<div class="inputBox">
									<input class="inputItem" v-model="item.target" type="text" placeholder="请输入店铺链接或淘口令" />
								</div>
								<div class="chooseBtn" type="button" @tap="chooseCommodity(index)">选择商品</div>
							</li>
							<li v-else-if="priceType==2">
								<label>微淘口令</label>
								<div class="inputBox">
									<input class="inputItem" v-model="item.target" type="text" placeholder="请输入微淘点赞的淘口令" />
								</div>
								<div class="chooseBtn" type="button" @tap="chooseCommodity(index)">选择商品</div>
							</li>
							<!-- 观看人数 -->
							<li v-else-if="priceType==14">
								<label>直播口令</label>
								<div class="inputBox">
									<input class="inputItem" v-model="item.keyword" type="text" placeholder="请输入淘宝直播分享的淘口令" />
								</div>
								<div class="chooseBtn" type="button" @tap="chooseCommodity(index)">选择商品</div>
							</li>

							<!-- 流量任务 收藏任务  加购任务 -->
							<li v-else>
								<label>商品链接</label>
								<div class="inputBox">
									<input class="inputItem" v-model="item.target" type="text" @change="(e)=>{transitionWord(e,index)}"  placeholder="请输入链接或淘口令" />

								</div>
								<div class="chooseBtn" type="button" @tap="chooseCommodity(index)">选择商品</div>
							</li>

							<li v-if="isKey">
								<label>关键词{{index+1}}</label>
								<div class="inputBox">
									<input class="inputItem" v-model="item.keyword" type="text" placeholder="请输入关键词" />
								</div>
								<!-- <button class="" type="button">查排名</button> -->
							</li>
							<!-- <li>
								<label>拍下件数</label>
								<div class="inputBox">
									<div class="num-count">
										<div class="count-desc" @tap="setAuctionNum(1,index)">-</div>
										<input class="count-input" type="number" @change="(e)=>{changeAuction(e,index)}" v-model="item.paixia" pattern="[0-9]*" />
										<div class="count-add" @tap="setAuctionNum(2,index)">+</div>
									</div>
								</div>
							</li> -->

							<li>
								<label v-if="priceType==0||priceType==1||priceType==3">访客数量</label>
								<label v-else-if="priceType==9||priceType==7||priceType==6">收藏数量</label>
								<label v-else-if="priceType==17">点赞数量</label>
								<label v-else-if="priceType==11||priceType==10">加购数量</label>

								<label v-else-if="priceType==12">关注数量</label>
								<label v-else-if="priceType==14">观看数量</label>
								<div class="inputBox">
									<div class="num-count">
										<div class="count-desc" @tap="setOrderNum(1,index)">-</div>
										<input class="count-input" type="number" @change="(e)=>{changeTotal(e,index)}" v-model="item.infoNum" pattern="[0-9]*" />
										<div class="count-add" @tap="setOrderNum(2,index)">+</div>
									</div>
								</div>
								<button class="" type="button" @tap="changePeriod(index)">时段</button>
							</li>
						</ul>

						<!-- 24h -->
						<div class="periodBox" v-if="item.isShowTime">
							<ul>
								<li v-for="(ite,idex) in numList[index]">
									<div class="hours">{{idex>=10?idex:"0"+idex}}:00</div>
									<div class="percentage">{{(ite.size/item.infoNum*100).toFixed(2)}}%</div>
									<div class="hoursInput">
										<input type="text" v-if="!ite.isShow" value="0">
										<input type="number" v-else @change="(e)=>{changeNumItem(e,index,idex)}" v-model="ite.size" />
									</div>
								</li>
							</ul>
						</div>

						<div class="totalTime">共 <span>{{item.infoNum}}</span> 个任务，已分配 <span>{{item.allocationNum}}</span> 个，剩余未分配<span
							 class="renText">{{item.infoNum-item.allocationNum}}</span>个任务</div>
						<div class="fillBox">
							<!-- <i></i> -->
							<div :class="{active:fillNum==0}" @tap="changeFill(index)">随机填充</div>
							<div :class="{active:fillNum==1}" @tap="goToLishi(index)">历史发布</div>
						</div>
						<div class="delBox">
							<div @tap="delPeriod(index)">删除</div>
						</div>
					</div>
					<div class="addBox" @tap="addPeriod">添加</div>
				</div>

				<div class="ulBox">
					<ul v-if="taskType==4">
						<li>
							<label>任务备注</label>
							<div class="inputBox">
								<input type="text" placeholder="请输入备注（可不填）">
							</div>
						</li>
					</ul>

					<ul v-else>
						<li v-if="priceType==9||priceType==11||priceType==0||priceType==1||priceType==3">
							<label>浏览时间</label>
							<div @tap="choseBrowse">
								<span>{{browse_time+browsePrice}}</span>
								<i></i>
							</div>
						</li>
						<li v-if="priceType==9||priceType==11||priceType==0||priceType==1||priceType==3">
							<label>浏览深度</label>
							<div @tap="choseDepth">
								<span>{{depthText}}</span>
								<i></i>
							</div>
						</li>
						<li>
							<label>任务备注</label>
							<div class="inputBox">
								<input type="text" placeholder="请输入备注（可不填）">
							</div>
						</li>
					</ul>

				</div>

				<div class="priceInfo">
					<div class="title">
						<i class="icon iconPrice"></i>
						<div>计费方式</div>
					</div>
					<div>任务耗时: <span>{{browse_time}}</span> 秒,单次消费<span>¥{{priceItem}}</span></div>
					<div>合计消费: <span>￥{{payable.toFixed(2)}}</span></div>
					<div class="referBox">
						<div>应付金额：<span>￥{{payable.toFixed(2)}}</span></div>
						<div class="referBtn" @tap="addFlow">提交订单</div>
					</div>
				</div>
			</div>
		</section>

		<script src="../js/jquery-3.2.1.min.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/mui.picker.min.js"></script>
		<script src="../js/mui.poppicker.js"></script>
		<script src="../js/mui.zoom.js"></script>
		<script src="../js/mui.previewimage.js"></script>
		<script src="../js/castapp.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/browser.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/axios.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/qs.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/config.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/api.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/storage.js" type="text/javascript" charset="utf-8"></script>

		<script type="text/babel">

			var app = new Vue({
				el:'#app',
				data(){
					return {
						taskType:1,
						startHour:24,//当前小时
						taskDateStart:"",//任务开始日期
						taskDateEnd:"",//任务结束日期
						dateList:[1,3,7,10,15,30],//快速选择时间列表
						fastDay:1,//天数
						periodList:[this.periodItem()],
						numList:[this.numItem()],
						duration:1,//任务时长
						// 0-app流量，1-pc流量，2-直访流量
						priceType:0,//价格类型
						priceList:{},//单次消费价格列表
						browse_time:"100-180",//浏览时间
						browseList:[],
						browseType:0,
						browsePrice:"(免费)",
						fillNum:0,//是否随机填充
						depth:1,//浏览深度
						depthText:"不浏览",
						
						isKey:true,//是否显示关键词
						
						depthList:[
							{
								value:0,
								text:'不浏览'
							},{
								value:1,
								text:'随机浏览'
							},{
								value:2,
								text:'深度浏览'
							}],
						
						
					}
				},
				computed:{
					
					dayNum(){//每天发布任务数
						let num=0;
						this.periodList.map(item=>{
							num+=parseInt(item.infoNum);
						});
						return num;
					},
					payable(){//应付金额
						return this.duration*this.dayNum*((this.priceList[this.priceType]+this.browseType).toFixed(2))
					},
					priceItem(){
						return (this.priceList[this.priceType]+this.browseType).toFixed(2)
					}
					
				},
				
				created(){
					mui.init();
					var that=this;
					
					mui.plusReady(function(){
						 window.addEventListener('changeBackTime', function(e){
						        　    //获取参数值
							if(e.detail.hour){
								let index=parseInt(e.detail.numType);
								let string=e.detail.hour;
								let numArr=string.split(",");
								that.numList[index].forEach((item,idex)=>{
									app.numList[index][idex].size = numArr[idex];
									app.numList[index][idex].isShow = true;
								});
								app.periodList[index].infoNum=e.detail.count//数量
								app.periodList[index].allocationNum=e.detail.count//数量
								app.periodList[index].keyword = e.detail.keyword;
								
							}
							
						});
						
						window.addEventListener('changeBackCommand', function(e){
						    //获取参数值
							if(e.detail.url){
								var num=e.detail.itemNum;
								if(app.priceType==14){
									app.periodList[num].keyword = e.detail.url;
								}else{
									app.periodList[num].target = e.detail.url;
								}
								
								
							}
						});
					});
					
					that.changeDistribution(0);
					this.getPrice();
					this.taskDateStart=this.changeTomorrow(0);//任务开始日期
					this.taskDateEnd=this.changeTomorrow(1)//任务结束日期
					
				},
				watch:{
				
				},
				methods:{

					periodItem(){
						return {
							links:"",//链接
							infoNum:100,//数量
							allocationNum:100,//已分配
							target:"",//淘宝链接
							keyword:"",//关键词
							isShowTime:false,
							paixia:0,
						};
					},
					numItem(){
						return [
							{time:0,size:0,isShow:false},
							{time:1,size:0,isShow:false},
							{time:2,size:0,isShow:false},
							{time:3,size:0,isShow:false},
							{time:4,size:0,isShow:false},
							{time:5,size:0,isShow:false},
							{time:6,size:0,isShow:false},
							{time:7,size:0,isShow:false},
							{time:8,size:0,isShow:false},
							{time:9,size:0,isShow:false},
							{time:10,size:0,isShow:false},
							{time:11,size:0,isShow:false},
							{time:12,size:0,isShow:false},
							{time:13,size:0,isShow:false},
							{time:14,size:0,isShow:false},
							{time:15,size:0,isShow:false},
							{time:16,size:0,isShow:false},
							{time:17,size:0,isShow:false},
							{time:18,size:0,isShow:false},
							{time:19,size:0,isShow:false},
							{time:20,size:0,isShow:false},
							{time:21,size:0,isShow:false},
							{time:22,size:0,isShow:false},
							{time:23,size:0,isShow:false}
						]
					},
					// 跳转发表过的商品列表
					chooseCommodity(index){
						openWebview({
							url:"./flow/command_list.html?type=2&itemNum="+index,
							id:'command_list.html'
						})
					},
					changePeriod(index){
						this.periodList[index].isShowTime=!this.periodList[index].isShowTime;
					},
					resetData(){
						this.periodList=[this.periodItem()];
						this.numList=[this.numItem()];
					},
					changePriceType(index){
						this.priceType=index;
						if(index==3||index==7||index==6||index==17||index==10||index==12||index==2||index==14){
							this.isKey=false;
						}else{
							this.isKey=true;
						}
						this.resetData();
						this.changeDistribution(0);
						
					},
					// 转换淘口令
					transitionWord(e,index){
						console.log(e);
						let that=this;
						Axios.flowPost('/api/goods/info',{
							token:storage.get("token") || "35b49ed8-543d-475f-a1be-22560ed9141c",
							// 35b49ed8-543d-475f-a1be-22560ed9141c
							target:e.target.value
						}).then(function(res){
							console.log(res);
							if(res.code==1){
								that.periodList[index].target=res.data.url;
							}
						});
					},
					
					// 处理初始分配
					changeDistribution(index){
						var that=this;
						var time = new Date();
						that.startHour =parseInt(time.getHours()) ;
						var arr=that.getRandomMoney(that.periodList[index].infoNum,24 - that.startHour);
						arr.map((item)=>{
							that.numList[index].forEach((ite,index)=>{
								
								if(ite.time==item.time){
									ite.isShow=true;
									ite.size=item.size;
								}
							})
						})
					},
					setAuctionNum(type,index){
						if(type==1){
							this.periodList[index].paixia-=1;
						}else{
							this.periodList[index].paixia+=1;
						}
					},
					// 修改单个任务信息数量
					setOrderNum(type,index){
						if(type==1){
							this.periodList[index].infoNum-=1;
						}else{
							this.periodList[index].infoNum+=1;
						}
						
						if(this.fillNum==0){
							this.periodList[index].allocationNum=this.periodList[index].infoNum;
							this.changeDistribution(index);
						}
						
					},
					changeAuction(e,index){
						this.periodList[index].paixia=parseInt(e.target.value);
					},
					changeTotal(e,index){
						this.periodList[index].infoNum=parseInt(e.target.value);
						
						if(this.fillNum==0){
							this.changeDistribution(index);
							this.periodList[index].allocationNum=parseInt(e.target.value);
						}
						
					},
					// 修改时段的input
					changeNumItem(e,index,idex){
						this.numList[index][idex].size=e.target.value;
						let total=0;
						this.numList[index].map(item=>{
							total+=parseInt(item.size);
						});
						if(this.periodList[index].infoNum<total){
							this.periodList[index].infoNum=total;
						}
						
						this.periodList[index].allocationNum=total;
						
					},
					
					// 添加任务详情
					addPeriod(){
						this.periodList.push(this.periodItem());
						let length=this.periodList.length-1;
						
						this.numList.push(this.numItem());
						this.changeDistribution(length);
					},
					
					changeTaskType(type){
						this.taskType=type;
						this.isKey=true;
						if(type==1){
							this.priceType=0;
						}else if(type==2){
							this.priceType=9;
						}else if(type==3){
							this.priceType=11;
						}else{
							this.priceType=12;
							this.isKey=false;
						}
						this.resetData();
						this.changeDistribution(0);
					},
					// 获取价格
					getPrice(){
						let that=this;
						Axios.flowPost('/api/liuliang/price',{
							token:storage.get("token") || "",
							// 35b49ed8-543d-475f-a1be-22560ed9141c
							
						}).then(function(res){
							if(res.code==1){
								that.priceList=res.data;
								
								Object.keys(res.data.browse_price).map((item)=>{
									let browse_price=res.data.browse_price[item];
									let browse_text=browse_price==0?'(免费)':"(￥"+res.data.browse_price[item]+")";
									that.browseList.push({value:browse_price,text:item+browse_text,price:item})
								});
								
							}
						});
					},
					// 添加流量任务
					addFlow(){
						let that=this;
						
						mui.confirm('确定添加任务吗?','提示',['取消','确认'],function (e) {
							if(e.index==1){
								
								// 处理发布量
								let numStringArr=[];
								that.numList.map(item=>{
									let numArr=[];
									item.map(ite=>{
										numArr.push(ite.size);
									});
									numStringArr.push(numArr.join(","))
								});
								
								var isAll=true;
								// 
								for(let i=0;i<that.periodList.length;i++){
									
									if(isAll){
										let data={
											token:storage.get("token") || "",
											count:that.duration*that.dayNum,
											hour:numStringArr[i],
											begin_time:that.taskDateStart,
											type:that.priceType,
											target:that.periodList[i].target,
											keyword:that.periodList[i].keyword,
											browse_time:that.browse_time,
											depth:that.depth,
										};
										if(that.priceType==17){
											data.itemid=that.periodList[i].target;
										}
										Axios.flowPost('/api/liuliang/add',data).then(function(res){
											
											if(res.code==1){
												
											}else{
												isAll=false;
											}
											
											mui.toast(res.msg);
										});
									}else{
										return;
									}
								}
							}
						},'div')
						
						
					},
					
					delPeriod(index){
						// 删除
						this.periodList.splice(index,1);
						this.numList.splice(index,1);
					},
					
					// 设置时间
					setOrderTime(item,type){
						var time = new Date();
						var startHour = time.getHours();
						var startMinutes = time.getMinutes();
						let that=this;
						
						this.timePicker = new mui.DtPicker({
							type: "date", //设置日历初始视图模式
							// customData: {
							// 	h: getTime(startHour,24),
							// 	i: getTime(startMinutes,59)
							// }//时间/日期别名
						});
						this.timePicker.show((selectItems) => {
							if(type==1){
								
								if(that.taskDateEnd&& selectItems.value >that.taskDateEnd){
									ca.prompt('开始时间不能大于结束时间！');
									return;
								}
								
								that.taskDateStart = selectItems.value;
								
							}else{
								if(that.taskDateStart&& selectItems.value<that.taskDateStart){
									ca.prompt('结束时间不能小于开始时间！');
									return;
								}
								that.taskDateEnd = selectItems.value;
								
							}
							this.timePicker.dispose();
							
							let startTime = new Date(that.taskDateStart); // 开始时间
							let endTime = new Date(that.taskDateEnd); // 结束时间
							let usedTime = endTime - startTime; // 相差的毫秒数
							let days = Math.floor(usedTime / (24 * 3600 * 1000)); // 计算出天数
							if(days>0){
								that.duration=days;
							}
							
						});
					},
					// 选择浏览时间
					choseBrowse(){
						
						var that = this;
						var picker = new mui.PopPicker();
						picker.setData(that.browseList);
						
						// 点击取消按钮关闭滚动锁定状态
						var btn = $("button.mui-poppicker-btn-cancel")[0];
						btn.addEventListener('tap',function () {
							picker.dispose();
						});
						
						picker.show(function (selectItems) {
							that.browse_time=selectItems[0].price;
							that.browseType=parseFloat(selectItems[0].value);
							
							let browseValue=parseFloat(selectItems[0].value);
							that.browsePrice=browseValue==0?"(免费)":"(￥"+browseValue+")";
							picker.dispose();
						})
					},
					// 选择浏览深度
					choseDepth(){
						var that = this;
						var picker = new mui.PopPicker();
						picker.setData(that.depthList);
						
						// 点击取消按钮关闭滚动锁定状态
						var btn = $("button.mui-poppicker-btn-cancel")[0];
						btn.addEventListener('tap',function () {
							picker.dispose();
						});
						
						picker.show(function (selectItems) {
							that.depth=selectItems[0].value;
							that.depthText=selectItems[0].text;
							picker.dispose();
						})
					},
					changeFastDay(type){
						this.fastDay=type;
						this.taskDateEnd=this.changeTomorrow(type);
						this.duration=type;
						
					},
					// 随机分配任务数量
					getRandomMoney(remainMoney, remainSize) {
						let that=this;
						let moneyList = [];
						const min = 1;
						let max, money;
						while (remainSize > 1) {
							max = remainMoney / remainSize * 2;
							money = parseInt(Math.random() * max);
							money = money < 0 ? 0 : money;
							money = Math.round(money * 100) / 100;
							// moneyList.push(money);
							moneyList.push({time:that.startHour++,size:money});
							
							remainSize--;
							remainMoney -= money;
						}
				
						moneyList.push({time:that.startHour++,size:Math.round(remainMoney * 100) / 100});
						return moneyList;
					},
					changeFill(index){
						this.fillNum=0;
						let arr=this.numList[index];
						
						arr.forEach((item,idex)=>{
							this.numList[index][idex].size=0;
							// app.numList[index][idex].size = 0;
							// console.log(JSON.stringify(app.numList[index][idex]) );
						})
						this.changeDistribution(index);
					},
					goToLishi(index){
						this.fillNum=1;
						openWebview({
							url:"./flow/task_lishi.html?numType="+index,
							id:'task_lishi.html'
						})
					},
					
					// 修改天数
					changeTomorrow(days){
						var time = new Date().getTime() + 24 * 60 * 60 * 1000 * days;
						var yesterday = new Date(time);
						var month = yesterday.getMonth();
						var day = yesterday.getDate();
						yesterday =
							yesterday.getFullYear() +
							'-' +
							(yesterday.getMonth() > 9 ? yesterday.getMonth() + 1 : '0' + (yesterday.getMonth() + 1)) +
							'-' +
							(yesterday.getDate() > 9 ? yesterday.getDate() : '0' + yesterday.getDate());
						
						return yesterday;
					}
					
					
				},
				
			});
			
		</script>
	</body>

</html>
