<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>任务发布</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/base.css" />
		<link href="../css/mui.imageViewers.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />
		<link rel="stylesheet" type="text/css" href="../icont/iconfont.css" />
		<link rel="stylesheet" href="../css/flow.css">

	</head>

	<body>
		<section id="app" v-cloak>
			<header class="mui-bar mui-bar-nav">
				<div class="mui-pull-left lishi"><i class="iconFont"></i>教程</div>
				<h1 class="mui-title">任务发布</h1>
			</header>
			<div class="mui-content">

				<!-- tabs切换 -->
				<div class="tabsBox">
					<div :class="{ bgOrange: taskType==1}" @tap="changeTaskType(1)">流量任务</div>
					<div :class="{ bgYellow: taskType==2}" @tap="changeTaskType(2)">收藏任务</div>
					<div :class="{ bgAzure: taskType==3}" @tap="changeTaskType(3)">加购任务</div>
					<div :class="{ bgBlue: taskType==4}" @tap="changeTaskType(4)">淘宝直播</div>
				</div>
				<div class="mainTop">
					<!-- 流量任务类型 -->
					<div class="flowBox">
						<div class="title">
							<i class="icon"></i>
							<div>任务类型</div>
						</div>
						<!-- 流量任务 -->
						<div class="typesBox" v-if="taskType==1">
							<div class="active">APP 流量</div>
							<div>PC 流量</div>
							<div>直访流量</div>
						</div>
						<!-- 收藏任务 -->
						<div class="typesBox" v-else-if="taskType==2">
							<div class="active">搜索收藏</div>
							<div>商品收藏</div>
							<div>店铺收藏</div>
							<div>商品点赞</div>
						</div>
						<!-- 加购任务 -->
						<div class="typesBox" v-else-if="taskType==3">
							<div class="active">搜索加购</div>
							<div>直接加购</div>
						</div>
						<!-- 淘宝直播 -->
						<div class="typesBox" v-else>
							<div class="active">达人关注</div>
							<div>微淘点赞</div>
							<div>观看人数</div>
						</div>
					</div>


					<!-- 任务日期 -->
					<div class="flowBox">
						<div class="title">
							<i class="icon"></i>
							<div>任务日期</div>
						</div>
						<div class="timeBox">
							<div class="dateBox" @tap="setOrderTime(23,1)">
								<span>2020-02-27</span>
								<i class="icon"></i>
							</div>
							<div class="until">—</div>
							<div class="dateBox" @tap="setOrderTime(23,2)">
								<span>2020-02-27</span>
								<i class="icon"></i>
							</div>
						</div>
						<ul>
							<li>快速选择：</li>
							<li class="active">1天</li>
							<li>3天</li>
							<li>7天</li>
							<li>10天</li>
							<li>15天</li>
							<li>30天</li>
						</ul>
						<div class="totalTime">任务时长 <span>1</span> 天，每天发布 <span>100</span> 个任务量，此次合计发布<span>100</span>个任务</div>
					</div>
				</div>

				<div class="calendarBox">
					<div class="calendarItem">
						<div class="title">
							<i class="icon"></i>
							<div>任务类型</div>
						</div>
						<div class="bgOrange"></div>
						<div class="bgYellow"></div>
						<div class="bgAzure"></div>
						<div class="bgBlue"></div>
						<!-- 流量任务 -->
						<!-- 收藏任务 -->
						<!-- 加购任务 -->
						<ul v-if="taskType!==4">
							<li>
								<label for="">商品链接</label>
								<div class="inputBox">
									<input class="inputItem" type="number" placeholder="请输入链接或淘口令" />
								</div>
							</li>
							<li>
								<label for="">关键词</label>
								<div class="inputBox">
									<input class="inputItem" type="number" placeholder="请输入关键词" />
								</div>
								<button class="" type="button">查排名</button>
							</li>
							<li>
								<label for="">访客数量</label>
								<div class="inputBox">
									<div class="num-count">
										<button class="count-desc" type="button">-</button>
										<input class="count-input" type="number" pattern="[0-9]*" />
										<button class="count-add" type="button">+</button>
									</div>

								</div>
								<button class="" type="button">时段</button>
							</li>
						</ul>

						<!-- 淘宝直播 -->
						<ul v-else>
							<li>
								<label for="">店铺链接</label>
								<div class="inputBox">
									<input class="inputItem" type="number" placeholder="请输入链接或淘口令" />
								</div>
							</li>

							<li>
								<label for="">粉丝数量</label>
								<div class="inputBox">
									<div class="num-count">
										<button class="count-desc" type="button">-</button>
										<input class="count-input" type="number" pattern="[0-9]*" />
										<button class="count-add" type="button">+</button>
									</div>

								</div>
								<button class="" type="button">时段</button>
							</li>
						</ul>

						<!-- 24h -->
						<div class="periodBox">
							<ul>
								<li v-for="(item,index) in 24">
									<div class="hours">00:00</div>
									<div class="percentage">2.0%</div>
									<div class="hoursInput">
										<input type="text" value="1">
									</div>
								</li>
							</ul>
						</div>

						<div class="totalTime">共 <span>100</span> 个任务，已分配 <span>100</span> 个，剩余未分配<span class="renText">0</span>个任务</div>
						<div class="fillBox">
							<i></i>
							<div class="active">随机填充</div>
							<div>历史发布</div>
						</div>
						<div class="delBox">
							<div>删除</div>
						</div>
					</div>
					<div class="addBox">添加</div>
				</div>

				<div class="ulBox">
					<ul>
						<li>
							<label>浏览时间</label>
							<div>
								<span>100-180秒(免费)</span>
								<i></i>
							</div>
						</li>
						<li>
							<label>浏览深度</label>
							<div>
								<span>不浏览</span>
								<i></i>
							</div>
						</li>
						<li>
							<label>任务备注</label>
							<div class="inputBox">
								<input type="text" placeholder="请输入备注（可不填）">
							</div>
						</li>
					</ul>
				</div>

				<div class="priceInfo">
					<div class="title">
						<i class="icon"></i>
						<div>任务类型</div>
					</div>
					<div>任务耗时: <span>100-180</span> 秒,单次消费<span>¥30</span></div>
					<div>合计消费: <span>￥3000</span></div>
					<div class="referBox">
						<div>应付金额：<span>￥378</span></div>
						<div class="referBtn">提交订单</div>
					</div>
				</div>
			</div>
		</section>

		<script src="../js/jquery-3.2.1.min.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/mui.picker.min.js"></script>
		<script src="../js/mui.poppicker.js"></script>
		<script src="../js/mui.zoom.js"></script>
		<script src="../js/mui.previewimage.js"></script>
		<script src="../js/castapp.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/browser.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/axios.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/qs.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/config.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/api.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/storage.js" type="text/javascript" charset="utf-8"></script>

		<script type="text/babel">

			var app = new Vue({
				el:'#app',
				data(){
					return {
						taskType:1,
					}
				},
				computed:{
					// 计算应付金额
					
				},
				methods:{
					changeTaskType(type){
						this.taskType=type;
					},
					// 设置时间
					setOrderTime(item,type){
						var time = new Date();
						var startHour = time.getHours();
						var startMinutes = time.getMinutes();
						
						this.timePicker = new mui.DtPicker({
							type: "time", //设置日历初始视图模式
							customData: {
								h: getTime(startHour,24),
								i: getTime(startMinutes,59)
							}//时间/日期别名
						});
						this.timePicker.show((selectItems) => {
							// if(type){
							// 	if(item.shuadan_end_time && selectItems > item.shuadan_end_time){
							// 		ca.prompt('开始时间不能大于结束时间！');
							// 		return;
							// 	}
							// 	item.shuadan_start_time = selectItems.text;
							// }else{
							// 	if(item.shuadan_start_time && selectItems < item.shuadan_start_time){
							// 		ca.prompt('结束时间不能小于开始时间！');
							// 		return;
							// 	}
							// 	item.shuadan_end_time = selectItems.text;
							// }
							this.timePicker.dispose();
						});
					},
					// 随机分配任务数量
					getRandomMoney(remainMoney, remainSize) {
						let moneyList = [];
						const min = 1;
						let max, money;
						while (remainSize > 1) {
							max = remainMoney / remainSize * 2;
							money = parseInt(Math.random() * max);
							money = money < 1 ? 1 : money;
							money = Math.round(money * 100) / 100;
							moneyList.push(money);
							remainSize--;
							remainMoney -= money;
						}
				
						moneyList.push(Math.round(remainMoney * 100) / 100);
						return moneyList;
					}
					
					
				},
				mounted(){
					mui.init({
					    subpages:[{
					      url:"./flow/traffic_task.html",//子页面HTML地址，支持本地地址和网络地址
					      id:"traffic_task",//子页面标志
					      styles:{
					        top:0,//子页面顶部位置
					        bottom:0,//子页面底部位置
					       
					      },
					      extras:{}//额外扩展参数
					    }]
					  });
					
					mui.plusReady(function(){
						
					});
					
					
				},
				watch:{

				}
			});
			
		</script>
	</body>

</html>
